.container{
    /* background-color: red; */
    display: flex;
    margin-top : 100px;
    color : var(--softTextColor);
    padding: 10px 0;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap : 20px
}

.profil{
    display: flex;
    gap: 20px;
    align-items: center;
}

.socialLinks{
    display: flex;
    gap : 20px;
}



.listLinks{
    flex : 1;
    display: flex;
    gap : 50px;
    justify-content: flex-end;
    /* background-color: red; */
}

.list{
    display: flex;
    flex-direction: column;
    gap : 15px;
}

.listTitle {
    font-weight: bold;
}


@media (max-width : 1024px){
    .container{
        flex-direction: column;
        gap : 60px
    }

    .listLinks{
        justify-content: space-between;
        /* background-color: red; */
    }
}